{% extends 'userheaderfooter.html'%}
{%block content%}
<!-- {%load static %} -->
{% for product in foods %}

<div class="container">
    <h2 class="text-center">Selected Food</h2>
    <div class="food-menu-box">
        <div class="food-menu-img">
            <img src="{{product.pimage.url}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
        </div>

        <div class="food-menu-desc">
            <h4>{{product.name}}</h4>
            <p class="food-price">{{product.price}}</p>
            <p class="food-detail">
                {{product.description}}
            </p>
            <br>
        </div>
    </div> 

    <div>
        <form method="POST">
            {% csrf_token %}
            <h3 style="color: black;">Write Reviews</h3>
            <textarea placeholder="Write Reviews" rows="4" cols="50" name="remarks" id="remarks"></textarea>
            <br>
            <input type="submit" value="Submit" class="btn-primary" style="width: 5rem; padding: 8px;">
        </form>
    </div>
    <div class="clearfix"></div>


    <h2 class="text-center">Reviews</h2>

    <!-- {%for r in reviews%} -->
        <!-- <div class="food-menu-like">
        <p>{{r.customer_name}}: </p>
        <br>
        <br>
        <p>{{r.remarks}}</p>
        </div> -->
    <!-- {%endfor%} -->
    <table class="tbl-full">
        <tr>
            <th>SN</th>
            <th>Name</th>
            <Th>Reviews</Th>
            <Th>Sentiment</Th>
        </tr>
        {%for r in reviews%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{r.customer_name}}</td>
            <td>{{r.remarks}}</td>
            <td>{{r.sentiment}}</td>
        </tr>
        {%endfor%}
    </table>
    <br>
    <br>

    <div class="clearfix"></div>
</div>
{%endfor%}
{%endblock%}
