{% extends 'userheaderfooter.html'%}
{%block content%}
<!-- {%load static %} -->
{% for product in foods %}

<div class="container">
    <h2 class="text-center">Selected Food</h2>
    <div class="food-menu-box">
        <div class="food-menu-img">
            <img src="{{product.pimage.url}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
        </div>

        <div class="food-menu-desc">
            <h4>{{product.name}}</h4>
            <p class="food-price">{{product.price}}</p>
            <p class="food-detail">
                {{product.description}}
            </p>
            <br>
        </div>
    </div> 

    <div>
        <form action="" onsubmit="return cartitem_validate()" method="POST">
            <h3 style="color: black;">Write Reviews</h3>
            <textarea placeholder="Write Reviews" rows="4" cols="50"></textarea>
            <br>
            <input type="submit" value="Submit" class="btn-primary" style="width: 5rem; padding: 8px;">
        </form>
    </div>
    <div class="clearfix"></div>


    <h2 class="text-center">Reviews</h2>

    <div class="food-menu-like">
        
        {% for food in rfoods %}
        <div class="food-menu-img">
            <img src="{{food.pimage.url}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
        </div>
        <div class="food-menu-desc">
            <h4>{{food.name}}</h4>
            <p class="food-price">{{food.price}}</p>
            <p class="food-detail">
                {{food.description}}
            </p>
            <br>

            <a href="" class="btn btn-primary">Order Now</a>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>

    <div class="clearfix"></div>
</div>
{%endfor%}
{%endblock%}
